

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}



textarea {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.saveBtn {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 90%;
}


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0px;
  border-bottom: 10px solid black;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  
}
.gray{
  background-color: grey;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
.time{
  padding-left: 0%;
  margin-left: 20px;
}
